{% for product in page_obj %}
    {% if forloop.last and page_obj.has_next %}
        <div 
            class="contents"
            hx-get="{% url 'shop' %}?page={{ page_obj.next_page_number }}{% if url_params %}&{{ url_params }}{% endif %}"
            hx-trigger="revealed"
            hx-swap="outerHTML"
            hx-indicator="#infinite-spinner"
        >
            {% include 'partials/product_card.html' with product=product %}
        </div>
    {% else %}
        {% include 'partials/product_card.html' with product=product %}
    {% endif %}
{% endfor %}
